body{
    font-family: "Source Sans Pro", sans-serif;
}

a:active, a:focus, a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#outdiv
{
    width: 400px;
    height: 250px;
    margin: 0;
    padding: 0;
}

#v{
    width: 400px;
    height: auto;
    margin: 0;
    padding: 0;
    border: 2px solid #c5c5c5;
}

#qrfile{
    border: 2px solid #c5c5c5;
    width: 400px;
    height: 250px;
}

#qr-canvas{
    display:none;
}

#help-text{
    z-index: 9999999999;
    position: relative;
    color: #00AEFB;
    top: 0;
}

#imghelp{
    position:relative;
    left:0px;
    top:-160px;
    z-index:100;
    background:#f2f2f2;
    margin-left:35px;
    margin-right:35px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius:20px;
}

.selector{
    cursor:pointer;
}

#result{
    border: 1px solid #eaeaea;
    padding: 10px;
    margin-top: 3em;
    color: #456D86;
    width: 50%;
    background-color: #f2f2f2;
    font-size: 1.5em;
    font-weight: 500;
    box-shadow: none;
    border-radius: 3px;
    transition: background 0.4s ease-in-out;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  #result{
    width: 90%;
  }

  #outdiv{
    width: 300px;
    height: auto;
  }

  #help-text{
    top: -35px;
  }

  #qrfile{
    width: 300px;
  }

  #v{
    width: 300px;
  }
}
